* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #6c63ff;
  --secondary-color: #fefeff;
  --primary-color-dark: #433ae2;
  --secondary-color-dark: #f3f1fb;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  background-color: var(--secondary-color);
}

header {
  margin: 5rem auto;
  text-align: center;
}

header p {
  font-size: 1.8rem;
  font-weight: 600;
}

header h1 {
  font-size: 6rem;
  font-family: 'Noto Serif', serif;
}

h2 {
  font-weight: 600;
}

h3 {
  font-family: 'Noto Serif', serif;
  font-weight: 600;
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

footer {
  margin: 5rem auto;
}

footer p {
  text-align: center;
}

.navbar-expand-lg {
  margin-right: 2rem;
  margin-left: 2rem;
}

.navbar-collapse {
  justify-content: end;
}

.img-logo {
  width: 40px;
  height: 40px;
}

.header-btn-container {
  margin-top: 5rem;
  margin-bottom: 10rem;
}

.cs-link-dark,
.cs-link-light {
  text-decoration: none;
  padding: 1.5rem 1.8rem;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

.cs-link-dark,
.cs-link-dark:active,
.cs-link-dark:visited,
.cs-link-dark:link {
  background: var(--primary-color);
  color: var(--secondary-color);
  margin-right: 1rem;
}

.cs-link-light {
  color: var(--primary-color);
}

.cs-link-dark:hover {
  background: var(--primary-color-dark);
}

.cs-link-light:hover {
  background: var(--secondary-color-dark);
}

.cs-row {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  justify-content: center;
}

.cs-row > .cs-col:first-child {
  margin-right: 1.5rem;
}

.cs-col-text {
  padding: 3rem;
}

.cs-img {
  width: 100%;
  height: 100%;
}

.cs-btn {
  display: inline-block;
  text-decoration: none;
  padding: 0.8rem 2rem;
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 50px;
  box-shadow: var(--box-shadow);
  margin-top: 2rem;
}

.cs-btn:hover {
  background: var(--primary-color-dark);
}
